.wrapper{
	background-color: #ffffff;
	margin:0 auto;
	width:1000px;
}

.header{
	width:1000px;
	height:500px;
}


li{
	display: inline-block;
	margin:50px;
	list-style: none;
}

.header{
	background-color:#8A2BE2;	
}

img{
	width:150px;
	height:150px;
}

.new_item{
	background-color:#7FFF00;
	height:250px;
	width:1000px;
	/*position: absolute;	*/
	
	}	
.new_item ul{
	position: absolute;
	/*float:left;*/
}

.new_item1{
	height: 200px;
	width:150px;
	float: left;
	position: relative;
	
}

.new_item2{
	height: 200px;
	width:150px;
	float: left;
	position: relative;
	
}

.new_item3{
	height: 200px;
	width:150px;

}

p{
text-align:center;
}

.japanese_vin{
	background-color:#FF8C00;	
	height:250px;
	width:500px;
	float:left;

}

.world_vin{
	background-color:#FFE4C4;
		height:250px;
		width:500px;
		float:right;
}

.recipe{
	background-color:#FFFF00;
		height:250px;
		width:500px;
		float:left;
}

.beauty{
	background-color:#AFEEEE;
	s	height:250px;
		width:500px;
		float:right;
}

.sns_photo{
	background-color:#9400D3;
	clear:both;
	height:500px;
}